{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero d-flex flex-column justify-content-between">
    <h1 class="hero-text">Welcome to Animal House</h1>
    <h2 class="hero-text align-self-end">Where Every Paw Has a Purpose</h2>
</div>
<div class="px-4">
    <p class="text-justify">
        At Animal House, we're dedicated to giving animals a second chance at
        happiness and a loving forever home. Our mission is simple but
        powerful: to rescue, rehabilitate, and rehome animals in need.
    </p>
</div>
<div class="d-flex flex-column flex-md-row justify-content-evenly align-items-center gap-4 mx-4">
    <div class="d-flex flex-column">
        <h3>Meet Our Rescued Companions</h3>
        <p class="text-justify">
            Browse through our heartwarming stories of the animals currently in
            our care. Each furry friend has a unique tale of resilience and
            hope, waiting for the perfect match to share their life with.
        </p>
    </div>
    <div class="d-flex flex-column">
        <h3>Your Path to Pet Parenthood</h3>
        <p class="text-justify">
            Ready to bring a new furry friend into your life? We're here to
            guide you through the adoption process. Submit your adoption request
            and discover the joy of giving an animal a loving home.
        </p>
    </div>
    <div class="d-flex flex-column">
        <h3>Support Our Cause</h3>
        <p class="text-justify">
            Your support helps us provide essential care, medical attention, and
            love to animals in distress. Every donation, no matter the size,
            contributes to creating a brighter future for animals in need.
        </p>
    </div>
</div>
<p class="px-4">
    Thank you for visiting Animal House. Together, we can make a difference
    in the lives of animals, one paw at a time.
</p>

{% endblock %}